body {
    /*font-family: "Helvetica Neue";*/
    font-family: "SF Pro";
    background-color: black;
    color: white;
}

.wd-title-border {
    border: 1px solid #2f3336;
}

.wd-ab-border {
    border: 1px solid #2f3336;
    padding: 25px;
}

.wd-d-border {
    border: 1px solid #2f3336;
    padding-bottom: 75px;
    padding-left: 25px;
    padding-right: 16px;
}

.wd-input-field {
    background-color: darkgrey;
    color: white;
    border-radius: 15px;
    width: 75%;
}

.wd-input-field::placeholder {
    color: lightgray;
}

.wd-gear {
    padding-left: 12px;
}

.wd-gear a {
    text-decoration: none;
    color: lightskyblue;
}

.wd-nav-tabs {
    width: 100%;
    color: #6e767d;
    padding: 0px;
    font-size: 15px;
}

.wd-nav-tabs li {
    list-style-type: none;
}

.wd-nav-tabs .wd-selected {
    color: #1da1f2;
    display: inline-block;
    padding: 16px;
    margin: 5px;
    border-bottom: solid 3px;
}

.wd-nav-tabs .wd-unselected {
    display: inline-block;
    padding: 16px;
    margin: 5px;
    /*border-bottom: solid 3px;*/
}

.wd-topic {
    font-size: 13px;
    color: #6e767d;
}

.wd-num-tuits {
    font-size: 13px;
    color: #6e767d;
}

.wd-title {
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
}

.wd-suggested-top {
    font-size: 13px;
    padding-top: 15px;
}

.wd-author {
    font-weight: bold;
}

.wd-time {
    color: #6e767d;
}

.wd-picture img {
    float: right;
    border-radius: 15px;
}

.wd-picture image {
    border-radius: 10px;
}